    .main-container{
        margin: 0 auto;
        max-width: 50em;
        font-family: "Helvetica", "Arial", sans-serif;
        line-height: 1.5;
        padding: 4em 1em;
        color: #555;
    }
    h2{
        margin-top: 1em;
        padding-top: 1em;
    }
    nav{
        /*
        border-bottom: 1px solid #333333;
        */
    }
    .logo{
        font-size:20pt;
        color: #ffffff;
        background-color: #ff2424;
    }
    .nav-title{
        font-size: 16pt;
        font-weight: strong;
    }
    .name{
        font-size: 35pt;
        font-weight: strong;
        font-family: system-ui,Helvetica,Arial,sans-serif;
    }
    .links{
        text-decoration: none;
    }
