/*
CSS for E Project
*/
#wrapper{
	max-width: 1100px;
	min-width: 250px;
	height: 1000px;
	margin: 0px auto;
	padding-top: 20px;
	line-height: 1.5em;
	font-family: "Century Gothic", cambria, serif;
	background-color: rgba(72, 65, 255, 0.4);
	border-radius: 15px;
}
body{
	background-image: url(Images/Indexbg1.jpg);
	color: white;
	background-size: cover;
}
/*Vertical nav bar*/
nav{
	width: 10%; /* original 100px*/
	height: 63%;/*original 500px*/
	clear: none;
}
nav.future{
	height: 85%;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding-top: 35%; /*original 30px*/
	font-size: 14pt;
}
ul li{
	padding-left: 10px;
	padding-top: 10px;
}
header h1{
	text-align: center;
}
article{
	width: 55%; /*original 700px*/
	height: 63%; /*original 450px*/ /*also 63%*/
	border: 3px solid rgb(102, 102, 102);
	border-radius: 15px;
	padding-top: 10px; 
	overflow: auto;
	display: inline;
	position: absolute;
	left: 28%; /*original 350px*/
	top: 16%; /*original 110px*/
	clear: left;
}
article.bio{
	height: 90%;
}
article.tree{
	border: none;
	width: 100%;
	height: 90%;
	clear: both;
	padding-top: 0;	
}
article.future{
	height: 90%;
	font-family: Papyrus, Arial, sans-serif;
	word-spacing: 3pt;
	letter-spacing: 2pt;
	line-height: 20pt;
}
/*Code for photo gallery*/
article.gallery{
	border: none;
	padding-top: 4%;
	height: 100%;
	width: 50%;
}

img.CFC{
	float: right;
}
img.poetry{
	float: left;
}
/*These lines of code is for the Index*/
/*They animate images within Index*/
section.index{
	clear: both;
}
section img{
	text-align: center;
}
@keyframes FadeInOut1{
	0% {opacity:1;}
	45% {opacity:1;}
	55% {opacity:0;}
	100% {opacity:0;}
}
img.index2{
	position: absolute;
	left: 25%;
	top: 6.9%;
	animation-name: FadeInOut1;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}
img.index1{
	position: absolute;
	left: 25%;
	top: 6.9%;
}
p.index1{
	position: absolute;
	top: 90%;
	display: block;
}
/*End of code for animation and layout*/

/*This animates the dominant picture in Autobio*/
section.autobio{
	clear: both;
}
section.biotext{
	position: absolute;
	top: 80%;
}
section img{
	text-align: center;
}
@keyframes FadeInOut1{
	0% {opacity:1;}
	45% {opacity:1;}
	55% {opacity:0;}
	100% {opacity:0;}
}
img.autobio2{
	position: absolute;
	left: 25%;
	top: 6.9%;
	animation-name: FadeInOut1;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}
img.autobio1{
	position: absolute;
	left: 25%;
	top: 6.9%;
}
p.autobio{
	text-align: center;
}
/*End of code for animation and layout*/

/*Animates dominant in Hobbies*/

section.hobby{
	clear: both;
}
section.hobtext{
	position: absolute;
	top: 80%;
}
section img{
	text-align: center;
}
@keyframes FadeInOut1{
	0% {opacity:1;}
	45% {opacity:1;}
	55% {opacity:0;}
	100% {opacity:0;}
}
img.hobbies2{
	position: absolute;
	left: 25%;
	top: 6.9%;
	animation-name: FadeInOut1;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}
img.hobbies1{
	position: absolute;
	left: 25%;
	top: 6.9%;
}
p.autobio{
	text-align: center;
}

/*End of animation and layout*/

/* These sections are for the poems in Hobbies page*/
/* Maybe use for Autobio as well*/
/*Left box*/section.box1{
	width: 30%;
	height: 29%;
	border: 3px solid rgb(102, 102, 102);
	border-radius: 15px;
	position: absolute;
	left: 20%;
	top: 90%;
	clear: none;
	overflow: auto;
}
/*Right box*/section.box2{
	width: 30%;
	height: 29%;
	border: 3px solid rgb(102, 102, 102);
	border-radius: 15px;
	position: absolute;
	right: 16.6%;
	top: 90%;
	overflow: auto;
}
span{
	font-size: 14pt;
	color: white;
	animation-name: hello;
	animation-duration: 4s; 
	animation-iteration-count: 3;
}
@-webkit-keyframes hello{
	0% {color: rgba(20, 65, 255, 0.4);}
	100% {color: red;}
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	font-size: 16pt;
	color: #FF9900;
}
a:active{
	color: #FF0000;
}
td:hover{
	border: 2px solid orange;
}
td{
	border-radius: 15px;
}
table{
	border-radius: 15px;
}
footer.index{
	width: 85%;
	height: 25%; /*original 200px*/
	border: 3px solid rgb(102, 102, 102);
	border-radius: 15px;
	position: relative;
	left: 7%; /*original 70px*/
}
footer.ftfamily{
	width: 60%;
	height: 60%; 
	border: 3px solid rgb(102, 102, 102);
	border-radius: 15px;
	position: absolute;
	left: 20%; 
	top: 70%;
	overflow: auto;
}
footer.future{
	font-size: 8pt;
	clear: both;
	padding-left: 10%;
}
footer ul{
	list-style-type: none;
}